*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.tarjeta-producto {
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.boton{

  padding: 10px 5px;
  border: 2px solid #000000;
  background-color: blue;
  text-box:white  ;
  border-radius: 5px;

}
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}